.Card {
	width: 300px;
	height: 225px;
	position: relative;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
	display: grid;
	grid-template-rows: 1fr 1fr;
	transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);

}

.Card:hover {
	transform: scale(1.1, 1.1);
	box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
	z-index: 10;
}

/*.Card:hover img {
	transform: translateY(-20px);
}*/

.Card img {
	position: absolute;
/*	top: 0;*/
	height: 110%;
	z-index: -1;
	transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Card h3 {
	color: black;
	font-size: 30px;
	margin: 20px 0 0 20px;
	width: 190px;
}

.Card p {
	color: rgba(0, 0, 0, 0.8);
	font-weight: 600;
	font-size: 18px;
	align-self: end;
	margin: 0 0 20px 20px;
}

.CardL {
	width: 500px;
	height: 400px;
}

.CardL h3 {
	color: black;
	font-size: 19px;
	font-weight: 580;
	margin: 20px 0 0 20px;
	width: 250px;
}

.CardL h4 {
	color: black;
	font-size: 14px;
	font-weight: 550;
	margin: 20px 0 0 20px;
	width: 250px;
}

.CardL p {
	color: rgba(0, 0, 0, 0.8);
	font-weight: 400;
	font-size: 14px;

}

.CardH {
	width: 500px;
	height: 400px;
}

.CardH h3 {
	color: black;
	font-size: 19px;
	font-weight: 580;
	margin: 20px 0 0 20px;
	width: 250px;
}

.CardH h4 {
	color: black;
	font-size: 19px;
	font-weight: 550;
	margin: 20px 0 0 20px;
	width: 450px;
}

.CardH p {
	color: rgba(0, 0, 0, 0.8);
	font-weight: 400;
	font-size: 14px;

}

.Card:hover {
	transform: scale(1.05, 1.05);
	box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
	z-index: 10;
}

@media (max-width: 550px) {

	.CardL {
		width: 300px;
		height: 200px;
	}

	.CardH {
		width: 300px;
		height: 300px;
	}

	.CardH h4 {
		color: black;
		font-size: 14px;
		font-weight: 550;
		margin: 20px 0 0 20px;
		width: 250px;
	}
}