.Header {
	position: fixed;
	width: 100%;
	padding: 10px 0;
	z-index: 100;
	transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.HeaderScrolled {
	backdrop-filter: blur(10px);
	box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25);
/*	padding: 15px 0;*/
}

.HeaderGroup {
	z-index: 101;
	max-width: 700px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, auto);
	align-items: center;
	justify-content: space-between;
	padding: 10px 30px;
/*	grid-gap: 30px;*/
}

.HeaderGroup img {
    margin-right: 12px; /* Space between image and text */
    vertical-align: middle; /* Ensure image is aligned with text */
    height: 20px; /* Adjust height as needed */
    width: auto; /* Maintain aspect ratio */
}

.Header a {
	color: white;
	font-weight: 700;
}

.Header button {
	color: black;
	padding: 12px 20px;
	font-size: 20px;
	background: #FFFFFF;
	border: none;
	font-weight: 650;
	border-radius: 10px;
	outline: none;
	cursor: pointer;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
	transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Header button:hover {
/*	background: rgba(235, 235, 235, 1);*/
	transform: translateY(-4px);
}


@media (max-width: 640px) {
	.Header button {
		font-size: 18px;
	}

	.HeaderGroup {
		grid-template-columns: repeat(2, auto);
		grid-gap: 10px;
		justify-items: center;
  		align-items: center;
	}

}